// The main container element
.Collapsible {
    background-color: var(--off-white);
}
  
  
//The content within the collaspable area
.Collapsible__contentInner {
padding: 10px;
// border: 1px solid lightgrey;
border-top: 0;

p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
    margin-bottom: 0;
    }
}
}

.CustomTriggerCSS{
    color: black;
    background-color: white !important;
    text-decoration: none;
}

.CustomTriggerCSS:hover {
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.CustomTriggerCSS--open {
    color: transparent !important;
    -webkit-text-stroke: 2px black !important;
    background-color: white !important;
}


//The link which when clicked opens the collapsable area
.Collapsible__trigger {
display: block;
font-weight: 600;
text-decoration: none;
position: relative;
padding: 10px;
color: black;
background-color: var(--off-white);
width: 100%;
min-height: 120px;
line-height: 120px;
height: 30%;
// box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
font-size: 45px;
font-family: 'Helvetica Neue', sans-serif !important;
border-bottom: solid 1px lightgray;
border-top: solid 1px lightgray;

// &#text {
//     color: var(--mainColor);
//     text-decoration: none;
//   }
  
// &#text:active {
//     color: transparent;
//     -webkit-text-stroke: 2px var(--mainColor);
// }

// &:after {
//     font-family: 'FontAwesome';
//     content: '\f107';
//     position: absolute;
//     right: 10px;
//     top: 10px;
//     display: block;
//     transition: transform 300ms;
// }

&.is-open {
    &:after {
    transform: rotateZ(180deg);
    }

    &#text {
        color: transparent;
        -webkit-text-stroke: 2px var(--mainColor);
      }
}

&.is-disabled {
    opacity: 0.5;
    background-color: grey;
}
}


@media (max-width: 600px) {
    .Collapsible__trigger{
        line-height: 100%;
        min-height: 130%;
    }
}

.CustomTriggerCSS {
background-color: lightcoral;
transition: background-color 200ms ease;


}

.CustomTriggerCSS--open {
background-color: darkslateblue;
}

.Collapsible__custom-sibling {
padding: 5px;
font-size: 12px;
background-color: #CBB700;
color: black;
}